<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyuan.mapper.ExaminationsPaperMapper" >
  <resultMap id="BaseResultMap" type="com.xiaoyuan.model.ExaminationsPaper" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="PaperName" property="papername" jdbcType="VARCHAR" />
    <result column="PaperScore" property="paperscore" jdbcType="INTEGER" />
    <result column="ExaminationsId" property="examinationsid" jdbcType="INTEGER" />
    <result column="SubjectsId" property="subjectsid" jdbcType="INTEGER" />
    <result column="ImageUrl" property="imageurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, PaperName, PaperScore, ExaminationsId, SubjectsId, ImageUrl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from examinations_paper
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from examinations_paper
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaoyuan.model.ExaminationsPaper" >
    insert into examinations_paper (Id, PaperName, PaperScore, 
      ExaminationsId, SubjectsId, ImageUrl
      )
    values (#{id,jdbcType=INTEGER}, #{papername,jdbcType=VARCHAR}, #{paperscore,jdbcType=INTEGER}, 
      #{examinationsid,jdbcType=INTEGER}, #{subjectsid,jdbcType=INTEGER}, #{imageurl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyuan.model.ExaminationsPaper" >
    insert into examinations_paper
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="papername != null" >
        PaperName,
      </if>
      <if test="paperscore != null" >
        PaperScore,
      </if>
      <if test="examinationsid != null" >
        ExaminationsId,
      </if>
      <if test="subjectsid != null" >
        SubjectsId,
      </if>
      <if test="imageurl != null" >
        ImageUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="papername != null" >
        #{papername,jdbcType=VARCHAR},
      </if>
      <if test="paperscore != null" >
        #{paperscore,jdbcType=INTEGER},
      </if>
      <if test="examinationsid != null" >
        #{examinationsid,jdbcType=INTEGER},
      </if>
      <if test="subjectsid != null" >
        #{subjectsid,jdbcType=INTEGER},
      </if>
      <if test="imageurl != null" >
        #{imageurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoyuan.model.ExaminationsPaper" >
    update examinations_paper
    <set >
      <if test="papername != null" >
        PaperName = #{papername,jdbcType=VARCHAR},
      </if>
      <if test="paperscore != null" >
        PaperScore = #{paperscore,jdbcType=INTEGER},
      </if>
      <if test="examinationsid != null" >
        ExaminationsId = #{examinationsid,jdbcType=INTEGER},
      </if>
      <if test="subjectsid != null" >
        SubjectsId = #{subjectsid,jdbcType=INTEGER},
      </if>
      <if test="imageurl != null" >
        ImageUrl = #{imageurl,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoyuan.model.ExaminationsPaper" >
    update examinations_paper
    set PaperName = #{papername,jdbcType=VARCHAR},
      PaperScore = #{paperscore,jdbcType=INTEGER},
      ExaminationsId = #{examinationsid,jdbcType=INTEGER},
      SubjectsId = #{subjectsid,jdbcType=INTEGER},
      ImageUrl = #{imageurl,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>