<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyuan.mapper.ExaminationsPaperMapper" >
  <resultMap id="BaseResultMap" type="com.xiaoyuan.model.ExaminationsPaper" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="paper_name" property="paperName" jdbcType="VARCHAR" />
    <result column="paper_score" property="paperScore" jdbcType="INTEGER" />
    <result column="examinations_id" property="examinationsId" jdbcType="INTEGER" />
    <result column="subjects_id" property="subjectsId" jdbcType="INTEGER" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, paper_name, paper_score, examinations_id, subjects_id, image_url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from examinations_paper
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from examinations_paper
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaoyuan.model.ExaminationsPaper" >
    insert into examinations_paper (id, paper_name, paper_score, 
      examinations_id, subjects_id, image_url
      )
    values (#{id,jdbcType=INTEGER}, #{paperName,jdbcType=VARCHAR}, #{paperScore,jdbcType=INTEGER}, 
      #{examinationsId,jdbcType=INTEGER}, #{subjectsId,jdbcType=INTEGER}, #{imageUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyuan.model.ExaminationsPaper" >
    insert into examinations_paper
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="paperName != null" >
        paper_name,
      </if>
      <if test="paperScore != null" >
        paper_score,
      </if>
      <if test="examinationsId != null" >
        examinations_id,
      </if>
      <if test="subjectsId != null" >
        subjects_id,
      </if>
      <if test="imageUrl != null" >
        image_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="paperName != null" >
        #{paperName,jdbcType=VARCHAR},
      </if>
      <if test="paperScore != null" >
        #{paperScore,jdbcType=INTEGER},
      </if>
      <if test="examinationsId != null" >
        #{examinationsId,jdbcType=INTEGER},
      </if>
      <if test="subjectsId != null" >
        #{subjectsId,jdbcType=INTEGER},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoyuan.model.ExaminationsPaper" >
    update examinations_paper
    <set >
      <if test="paperName != null" >
        paper_name = #{paperName,jdbcType=VARCHAR},
      </if>
      <if test="paperScore != null" >
        paper_score = #{paperScore,jdbcType=INTEGER},
      </if>
      <if test="examinationsId != null" >
        examinations_id = #{examinationsId,jdbcType=INTEGER},
      </if>
      <if test="subjectsId != null" >
        subjects_id = #{subjectsId,jdbcType=INTEGER},
      </if>
      <if test="imageUrl != null" >
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoyuan.model.ExaminationsPaper" >
    update examinations_paper
    set paper_name = #{paperName,jdbcType=VARCHAR},
      paper_score = #{paperScore,jdbcType=INTEGER},
      examinations_id = #{examinationsId,jdbcType=INTEGER},
      subjects_id = #{subjectsId,jdbcType=INTEGER},
      image_url = #{imageUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>